@import './color';

.block {
  padding: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &-secondary {
    background-color: $color-secondary;
  }

  &-light-secondary {
    background-color: $color-light-secondary;
  }

  &-light {
    background-color: $color-light;
  }

  &-active {
    background-color: $color-active;
    color: $color-light;
  }

  &-dark {
    background-color: $color-dark;
    color: $color-light-secondary;
  }
}
.header {
  background-color: $color-secondary;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}
.menu-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.link {
  list-style-type: none;
  margin: 0 10px;
  padding: 0;
  font-weight: bold;
  text-decoration: none;
}
.end-block {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.left-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.block-content {
  width: 500px;
}
.mid-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  align-items: center;
}
#bg {
  background: linear-gradient(to right, $color-light 50%, $color-secondary 50%);
}
.percent-75 {
  max-width: 600px;
  height:3px;
  background: linear-gradient(to right, $color-active 75%, $color-secondary 25%);
  margin-bottom: 30px;
}
.percent-90 {
  max-width: 600px;
  height:3px;
  background: linear-gradient(to right, $color-active 90%, $color-secondary 10%);
  margin-bottom: 30px;
}
.percent-65 {
  max-width: 600px;
  height:3px;
  background: linear-gradient(to right, $color-active 65%, $color-secondary 35%);
  margin-bottom: 30px;
}
.line-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.work-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.box {
  width: 100%;
}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  margin: 100px 30px;
  background-color: $color-secondary;
  text-align: center;
}
.work-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 20px;
}
.black-border {
  //border: 1px solid $color-primary;
  margin-right: 0;
}
.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 15px;

}
.slider-btn {
  cursor: pointer;
  padding: 0;
  border: 0;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: $color-light;
  margin: 3px;

  &:focus{
    width: 10px;
    height: 10px;
  }
}
.active {
  width: 10px;
  height: 10px;
}
.message {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.input-message {
  width: 40%;
  height: 20px;
  border: 0;
  background-color: $color-light;
  margin: 25px 0;
  padding: 15px;
}
.large {
  width: 100%;
}
.textarea-message {
  width: 100%;
  border: 0;
  background-color: $color-light;
  margin: 25px 0;
  padding: 15px;
  font-size: 12px;
}
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.contacts {

}
.copyright {

}
.footer-menu {


}
.menu-combo {

  display: flex;
  flex-direction: row;
  padding: 0;

}
.footer-link-menu {
  list-style-type: none;
  margin: 0 10px;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
}
.footer-link {
  padding: 5px;
}
.logo-image {
  position: fixed;
  left: 30px;
}
.iconMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  &__img {
    width:20px;
  };
}
.menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.line {
  max-width: 600px;
  height: 3px;
  background: $color-secondary;
  margin-bottom: 30px;
}
.percent {
  width: 50%;
  height: 3px;
  background: $color-active;
}

@media screen and (max-width: 700px) {
  .block {
    padding: 5px;
  }
  .logo-image {
    position: static;
    left: 30px;
  }
}
