@import './color';

.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__body {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 25%;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__btn {
    width: 100%;
    margin: 0;
    border:0;
    height: 50px;
    background-color: $color-light-secondary;

    &:hover {
      background-color: $color-secondary;
    }

    &:active {
      background-color: $color-active;
      color: $color-light;
    }
  }

}

.slider-images {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 55%;
    padding: 10px;


  }
  &__button {
      &__left {
        background: none;
        border: 50px solid transparent; border-right: 30px solid $color-light;
      }
    &__right {
      background: none;
      border: 50px solid transparent; border-left: 30px solid $color-light;

    }
  }

  &__img {
    display: flex;
    margin: 0 20px;
    border-radius: 10px;
    min-width: 250px;

  }

}
@media screen and (max-width: 700px) {
  .slider-images {
    &__body {
      flex-direction: column;
    }
    &__img {
      max-width: 250px;
    }
    &__button {
      &__left {
        margin: 10px;
        background: none;
        border: 30px solid transparent; border-right: 20px solid $color-light;
        transform: rotate(90deg);
      }
      &__right {
        margin: 10px;
        background: none;
        border: 30px solid transparent; border-left: 20px solid $color-light;
        transform: rotate(90deg);
      }
    }
  }
}
