@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import './color';
@import './block';
@import './gallery';

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: $color-primary;
}

input, textarea, select, button {
  font-family: 'Montserrat', sans-serif;
}

.container {

}
a {
  text-decoration: none;
  color: $color-primary;
}
a:hover {
  color: $color-active;
}
.btn-main {
  border-radius: 0;
  height: 40px;
  background-color: $color-active;
  color: $color-light;
  border: 0;
  padding: 0 30px;
  font-weight: bold;
}
.mid-text {
  padding: 10px 0;
}
.center-text {
  padding: 10px 0;
  text-align: center;
}
.capslock {
  font-size: 10px;
  font-weight: bold;
}
.number {
  font-weight: bold;
}
.mini {
  padding: 0;
  margin: 0;
}
.slider-text {
  text-align: center;
}
.large-text {
  font-size: 20px;
  font-weight: bold;
}