@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import './color';
@import './block';

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: $color-primary;
}

input, textarea, select, button {
  font-family: 'Montserrat', sans-serif;
}

.container {

}
