body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    margin-top:20px;
}
h2{
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:80%;
    margin-left:10%;

}
.card{
    display: flex;
    flex-direction: column;
    border-radius:5px ;
    box-shadow: 0 3px 5px 3px gray;
    width:300px;
    height:160px;
    margin:20px;
    padding:5px 10px;
    position: relative;
}
.info{
    padding-top:15px;
    border-top: 2px solid lightgray;
}
p{
    text-align: center;
}
hr{
    size: 3px;
}
h3{
    margin:5px;
}
.red{
    background: red;
}
.date {
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: gray;
}
.addCard {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: fixed;
    font-size: 40px;
    left: 50px;
}
.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
}
.modal-card {
    width: 400px;
    height: 300px;
    position: relative;
    margin: 30% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 5px;
    box-shadow: 0 3px 5px 3px lightgray;
    background: #fff;
}
.modal:target {
    display: flex;
}