body{
    font-family: 'Roboto', sans-serif;
}
h1{
    text-align: center;
    margin-top:20px;
}
h2{
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:80%;
    margin-left:10%;

}
.card{
    display: flex;
    flex-direction: column;
    border-radius:5px ;
    box-shadow: 0 3px 5px 3px gray;
    width:300px;
    height:160px;
    margin:20px;
    padding:5px 10px;
    position: relative;
}
.info{
    padding-top:15px;
    border-top: 2px solid lightgray;
}
p{
    text-align: center;
}
hr{
    size: 3px;
}
h3{
    margin:5px;
}
.red{
    background: red;
}
.date {
    font-weight: bold;
    position: absolute;
    top:80%;
    left:70%;
    color:gray;
}